@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond')

$family-serif: "Cormorant Garamond", serif

$white: #DCCDB1
$link: #d4b251
@import "~bulma/sass/utilities/_all"

$family-primary: $family-serif

@import "~bulma"