@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond')

$family-serif: "Cormorant Garamond", serif

$white: #EFE8DE
$link: #ce9b1a
@import "~bulma/sass/utilities/_all"

$box-background-color: $white

$family-primary: $family-serif

@import "~bulma"